<!doctype html>
<html>
  <head>
    <title> Store </title>
    <link type = "text/css" rel = "stylesheet" href = {{url_for('static', filename = 'css/style.css')}}>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="add_product"></div>
    <script type="text/babel" src="{{url_for('static', filename = 'js/add_product.js')}}"></script>
    
    <div id="login"></div>
    <script type="text/babel" src="{{url_for('static', filename = 'js/login.js')}}"></script>
    
    <div id="register"></div>
    <script type="text/babel" src="{{url_for('static', filename = 'js/register.js')}}"></script>
    
    <div id="products"></div>
    <script type="text/babel" src="{{url_for('static', filename = 'js/products.js')}}"></script>
  </body>
</html>
